@import "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";
@import "http://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans&.css";
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

body {
  font-family: $main-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

// helper classes
.space-20 {
  margin-top: 20px;
}

.avatar {
  max-width: 90px;
  max-height: 90px;
}

.green-color {
  color: $green-color;
}

.yellow-color {
  color: $yellow-color;
}

.note {
  font-size: .9em;
  color: #666;
  margin-bottom: 60px;
  a {
    color: $main-color;
  }
}

// layout
.header {
  background: $light-gray-color;
  padding: 40px 15px;
  margin: 0px 0px 40px 0px;
  text-align: center;
  h1 {
    padding: 30px 10px 50px 10px;
  }
}

.btn-primary {
  background: $main-color;
}
