// NOTE: remember to replace switchery's color in scripts/app.js,
//       when updating the $primary.
$red: #c0392b;
$green: #45C02B;
$yellow: #EDB916;
$blue: #304986;
$gray: #999;
$gray-light: #f0f0f0;

$primary: $blue;

$main-font: 'Open Sans', sans-serif;
$header-font: $main-font;

$section-heading-height: 55px;
