[submodule "adblockcash"]
	path = adblockcash
	url = git@github.com:adblockcash/abc-firefox.git
[submodule "buildtools"]
  path = buildtools
  url = git@github.com:adblockcash/abc-buildtools.git
[submodule "adblockcashtests"]
	path = adblockcashtests
	url = git@github.com:adblockcash/abc-adblocktests.git
