$hexagon-width: 35px;
$hexagon-color:  $green-color;

$hexahon-height: $hexagon-width * 173.21/300;
$hexagon-borders: $hexagon-width *  86.60/300;

.hexagon {
  position: relative;
  width: $hexagon-width;
  height: $hexahon-height;
  background-color: $hexagon-color;
  margin: 18px auto 30px auto;
  float: none;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: $hexagon-width/2 solid transparent;
  border-right: $hexagon-width/2 solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: $hexagon-borders solid $hexagon-color;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: $hexagon-borders solid $hexagon-color;
}

.hexagon-yellow:before, {
  border-bottom-color: $yellow-color;
}

.hexagon-yellow:after {
  border-top-color: $yellow-color;
}

.hexagon-yellow {
  background: $yellow-color;
}

.hexagon-red:before, {
  border-bottom-color: $red-color;
}

.hexagon-red:after {
  border-top-color: $red-color;
}


.hexagon-red {
  background: $red-color;
}


.green-info {
  background: $green-low-opacity;
  color: #fff;
}
.yellow-info {
  background: $yellow-low-opacity;
}
.red-info {
  background: $red-low-opacity;
}

.norification-info {
  padding: 10px;
  font-size: 0.9em;
}

.notification-boxes {
  margin-top: 20px;

  .notification-box,
  .notification-icon, .notification-header
  .notification-body, .notification-controls,
  .notification-controls .status, .notification-controls .switch
  {
    position: relative;
    float: left;
  }

  .notification-box {
    border: 1px solid #adadad;
    width: 250px;
    min-height: 100px;
    &:before {
      content: "";
      width: 3px;
      height: 5px;
    }
    .notification-icon, .notification-header {
      width: 60px;
    }
    .notification-header {
      width: 100%;
      float: right;
      padding-bottom: 10px;
      border-bottom: 1px solid #adadad;
      margin-bottom: 18px;
      .settings-icon {
        padding: 10px 10px;
      }
      h5, h6 {
        font-family: $main-font;
      }
    }
    .notification-body {
      margin-top: 10px;
      width: 100%;
      box-sizing: border-box;
      h1, h2, h3, h4, p {
        font-family: $main-font;
        padding: 10px 8px;
      }
    }

    .notification-controls {
      background: #f0f0f0;
      width: 100%;
      padding: 10px 5px;
      box-sizing: border-box;
      .status, .switch {
        width: 70%;
        p {
          margin-bottom: 0px;
        }
      }
      .switch {
        width: 30%;
      }
    }
  }
}
