.options-page {
  padding-top: 142px;

  .footer {
    border-top: 1px solid $gray-light;
    margin-top: 40px;
  }
}

.header {
  margin-bottom: 0px;
}

.settings-header {
  background: $gray-light;
  padding: 20px 0 0;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0;
  z-index: 10;
  line-height: 60px;

  h1 {
    font-size: 1.9em;
    margin: 0px;
    font-weight: 300;
    line-height: inherit;

    .logo {
      margin-right: 15px;
      height: 60px;
    }

    strong {
      font-weight: 400;
    }
  }

  h3 {
    color: #777;
    font-weight: 300;
    font-size: 1.3em;
    line-height: inherit;
    margin: 0;
  }
}

.settings-tabs-container {
  margin-top: 20px;
  border-bottom: 1px solid $gray-light;
  line-height: 1.5;
  background-color: #fff;
}

.settings-tabs {
  padding: 0;
  font-weight: 300;
  font-size: 16px;

  li {
    padding: 0;
    border: none !important;
    margin: 0;

    a {
      color: $primary;
    }

    &:active, &:hover {
      a {
        background-color: #eee;
        color: #000;
      }
    }

    &.active {
      a {
        background-color: $primary;
        color: #fff;
      }
    }
  }
}

.fa-section-icon {
  font-size: 15px;
  color: #fff;
  background: #304986;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  line-height: 35px;
  margin-right: 15px;
  float: left;
  margin-top: 10px;
}

.settings-section {
  margin: 20px 0px;

  + .settings-section {
    margin-top: 40px;
  }
}

.section-heading {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 20px;
  line-height: $section-heading-height;
  height: $section-heading-height;
  position: relative;
  font-size: 26px;
}

.page-heading {
  text-align: center;
  padding: 20px 10px;
}

//
// ADS TAB
//

.filter-lists {
  a.remove-icon {
    color: $primary;
    padding: 10px 5px;

    &:hover, &:focus {
      color: $primary - #111;
    }
  }

  .subscription-status {
    color: $gray;
  }
}

.extend-section-link {
  margin: 20px 0 0;
}

.settings-groups {
  border: 1px solid $gray-light;
  padding: 20px;
  margin: 20px 0;
}

.settings-group {
  margin: 0 0;

  + .settings-group {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $gray-light;
  }

  .settings-group-title {
    margin: 0 0 20px;
  }

  .settings-group-body {

  }
}

//
// WHITELISTING TAB
//

.whitelisted-websites {
  padding: 0px;
  h3 {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
  }
}
.whitelisted-websites-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  clear: both;
  overflow: hidden;
}


.single-website {
  width: 33.3%;
  position: relative;
  float: left;
  padding: 10px 5px;
  cursor: pointer;

  .inner {
    display: none;
    height: 0px;
  }

  h4 {
    text-align: center;
  }

  h6 {
    font-family: $main-font;
    font-size: 1.2em;
    padding: 0.1em 0.9em;
  }

  &:hover {
    background: $gray-light;

    .inner {
      display: block;
      position: absolute;
      top: 50px;
      left: 0px;
      height: auto;
      background: $gray-light;
      z-index: 100;
      width: 100%;
      display: block;
      padding: 0px 1%;

      ul {
        font-size: 0.9em;
        margin-left: 20px;
      }
    }
  }
  .controls {
    border-top: 1px solid #adadad;
    h5 {
      font-family: $main-font;
    }
  }

  @media (max-width: 900px) {
    & {
      width: 100%;
      .inner {
        width: 100%;
      }
    }
  }
}

//
// STATISTICS TAB
//

.statistics-section {
  .section-heading {
    h2 {
      display: inline-block;
      margin: 0;
      line-height: inherit;
    }

    .nav-tabs {
      display: inline-block;
      max-width: 570px;
      float: right;
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 16px;

      li a {
        line-height: 42px;
        padding-top: 0;
        padding-bottom: 0;
        border: none !important;
        border-radius: 0;
      }
    }
  }
}

.statgroups {
  text-align: center;

  &.statgroups--small {
    .statgroup {
      width: 120px;
      margin: 15px 30px;
    }
  }
}
.table.statgroups-table {
  width: 100%;

  td, th {
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: 15px 10px;
  }

  th {
    text-align: left;
  }
}
.statgroup {
  display: inline-block;
  margin: 30px 40px;
  width: 230px;
}
.statgroup-label {
  font-size: 16px;
  font-weight: 500;
}
.statgroup-title {
  font-size: 16px;
}
.statgroup-value {
  font-size: 24px;
}
