.options-page {
  padding-top: 142px;

  .footer {
    border-top: 1px solid $gray-light;
    margin-top: 40px;
  }
}

.header {
  margin-bottom: 0px;
}

.settings-header {
  background: $gray-light;
  padding: 20px 0 0;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0;
  z-index: 10;
  line-height: 60px;

  h1 {
    font-size: 1.9em;
    margin: 0px;
    font-weight: 300;
    line-height: inherit;

    .logo {
      margin-right: 15px;
      height: 60px;
    }

    strong {
      font-weight: 400;
    }
  }

  h3 {
    color: #777;
    font-weight: 300;
    font-size: 1.3em;
    line-height: inherit;
    margin: 0;
  }
}

.settings-tabs-container {
  margin-top: 20px;
  border-bottom: 1px solid $gray-light;
  line-height: 1.5;
  background-color: #fff;
}

.settings-tabs {
  padding: 0;
  font-weight: 300;
  font-size: 16px;

  li {
    padding: 0;
    border: none !important;
    margin: 0;

    a {
      color: $primary;
    }

    &:active, &:hover {
      a {
        background-color: #eee;
        color: #000;
      }
    }

    &.active {
      a {
        background-color: $primary;
        color: #fff;
      }
    }
  }
}

.fa-section-icon {
  font-size: 15px;
  color: #fff;
  background: #304986;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  line-height: 35px;
  margin-right: 15px;
  float: left;
  margin-top: 10px;
}

.settings-section {
  margin: 20px 0px;

  + .settings-section {
    margin-top: 40px;
  }
}

.section-heading {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 20px;
  line-height: $section-heading-height;
  height: $section-heading-height;
  position: relative;
  font-size: 26px;
}

.page-heading {
  text-align: center;
  padding: 20px 10px;
}

//
// ADS TAB
//

.filter-lists {
  a.remove-icon {
    color: $primary;
    padding: 10px 5px;

    &:hover, &:focus {
      color: $primary - #111;
    }
  }

  .subscription-status {
    color: $gray;
  }
}

.extend-section-link {
  margin: 20px 0 0;

  a {
    display: block;
  }
}

.settings-groups {
  border: 1px solid $gray-light;
  padding: 20px;
  margin: 20px 0;
}

.settings-group {
  margin: 0 0;

  + .settings-group {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $gray-light;
  }

  .settings-group-title {
    margin: 0 0 20px;
  }

  .settings-group-body {

  }
}

//
// WHITELISTING TAB
//

.whitelistable-websites {
  position: relative;

  &, > li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > li {
    $website-title-height: 40px;
    $website-title-image-size: 20px;

    width: 33%;
    display: inline-block;
    position: relative;

    .website-title {
      font-size: 16px;
      font-weight: 300;
      line-height: $website-title-height;

      img {
        float: left;
        height: $website-title-image-size;
        width: $website-title-image-size;
        margin: (($website-title-height - $website-title-image-size) / 2) 10px;
      }
    }

    .popup-box {
      display: none;
      background-color: $gray-light;
      position: absolute;
      top: $website-title-height;
      left: 0;
      right: 0;
      z-index: 10;
      width: auto;
      font-size: 14px;
      font-weight: 300;
      border-top: 1px solid #fff;

      .popup-controls {
        border-top: 1px solid #fff;
      }
    }

    &:hover {
      background-color: $gray-light;

      .popup-box {
        display: block;
      }
    }
  }
}

//
// STATISTICS TAB
//

.statistics-section {
  .section-heading {
    h2 {
      display: inline-block;
      margin: 0;
      line-height: inherit;
    }

    .nav-tabs {
      display: inline-block;
      max-width: 570px;
      float: right;
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 16px;

      li a {
        line-height: 42px;
        padding-top: 0;
        padding-bottom: 0;
        border: none !important;
        border-radius: 0;
      }
    }
  }
}

.statgroups {
  text-align: center;
}
.table.statgroups-table {
  width: 100%;

  td, th {
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: 15px 10px;
  }

  th {
    text-align: left;
  }
}
.statgroup {
  position: relative;
  display: inline-block;
  margin: 15px 30px;
  padding: 15px 10px;
  vertical-align: top;
  width: 230px;

  .statgroups--small & {
    width: 120px;
    margin: 15px 30px;
  }
}
.statgroup-label {
  font-size: 16px;
  font-weight: 500;
}
.statgroup-title {
  font-size: 16px;
}
.statgroup-value {
  font-size: 24px;
}
.statgroup-arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  text-align: center;
  font-size: 18px;
}

//
// SETTINGS TAB
//

.usercard {
  position: relative;

  .usercard-avatar {
    position: absolute;
  }

  .usercard-contents {
    margin-left: 110px;

    .flag-icon {
      position: absolute;
      left: -1.5em;
      line-height: inherit;
      top: 0.3em;
    }
  }
}
