.header {
  margin-bottom: 0px;
}

.settings-tabs-container {
  border-bottom: 1px solid $gray-light;
}
.settings-tabs {
  padding: 0px;

  li {
    padding: 0px;
    border: 0px;
    margin: 0px;
  }

  a {
    color: $primary;
  }

  li:active, li:hover, li.active {
    border: none;

    a, a:focus, a:active {
      border: none;
      background: $primary;
      color: #fff;
      border-radius: 0px;
      margin: 0px;
    }

    a:hover {
      background: #adadad;
    }
  }
}

.fa-section-icon {
  font-size: 15px;
  color: #fff;
  background: #304986;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  line-height: 35px;
  margin-right: 15px;
  float: left;
  margin-top: 6.5px;
}

.settings-section {
  margin: 20px 0px;

  + .settings-section {
    margin-top: 40px;
  }
}

.section-heading {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
  line-height: $section-heading-height;
  height: $section-heading-height;
}

.page-heading {
  text-align: center;
  padding: 20px 10px;
}

//
// ADS TAB
//

.filter-lists {
  a.remove-icon {
    color: $primary;
    padding: 10px 5px;

    &:hover, &:focus {
      color: $primary - #111;
    }
  }

  .subscription-status {
    color: $gray;
  }
}

.whitelisted-websites {
  padding: 0px;
  h3 {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
  }
}
.whitelisted-websites-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  clear: both;
  overflow: hidden;
}

.ad-filters-accordion {
  margin: 20px 0px;

  .panel-heading {
    background: none;

    h4.panel-title {
      font-size: 1.7em;
      a {
        display: block;
        width: 100%;
      }
    }
  }
}

//
// WHITELISTING TAB
//

.single-website {
  width: 33.3%;
  position: relative;
  float: left;
  padding: 10px 5px;
  cursor: pointer;
  .inner {
    display: none;
    height: 0px;
  }

  h4 {
    text-align: center;
  }

  h6 {
    font-family: $main-font;
    font-size: 1.2em;
    padding: 0.1em 0.9em;
  }

  &:hover {
    background: #f0f0f0;
    .inner {
      display: block;
      position: absolute;
      top: 50px;
      left: 0px;
      height: auto;
      background: #f0f0f0;
      z-index: 100;
      width: 100%;
      display: block;
      padding: 0px 1%;

      ul {
        font-size: 0.9em;
        margin-left: 20px;
      }
    }
  }
  .controls {
    border-top: 1px solid #adadad;
    h5 {
      font-family: $main-font;
    }
  }

  @media (max-width: 900px) {
    & {
      width: 100%;
      .inner {
        width: 100%;
      }
    }
  }
}

//
// STATISTICS TAB
//

.statistics-section {
  .section-heading {
    h2 {
      display: inline-block;
      margin: 0;
      line-height: inherit;
    }

    .nav-tabs {
      display: inline-block;
      max-width: 70%;
      float: right;

      li a {
        line-height: inherit;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
      }
    }
  }
}
