$popup-box-padding: 10px;

$popup-box-header-height: 80px;
$popup-box-header-padding: $popup-box-padding;

$hexagon-height: 40px;
$hexagon-width: $hexagon-height / 2 / 173.21 * 300;
$hexagon-borders: $hexagon-width *  86.60/300;

$popup-controls-height: 42px;
$popup-controls-padding: $popup-box-padding;

.hexagon {
  position: relative;
  width: $hexagon-width;
  height: $hexagon-height;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background: url(../../assets/images/logo-icon.svg) no-repeat center center transparent;
  background-size: contain;

  &.hexagon-gray {
    background-image: url(../../assets/images/logo-icon-gray.svg);
  }

  &.hexagon-yellow {
    background-image: url(../../assets/images/logo-icon-yellow.svg);
  }

  &.hexagon-green {
    background-image: url(../../assets/images/logo-icon-green.svg);
  }
}

.popup-box {
  width: 250px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding-bottom: $popup-controls-height;

  .popup-boxes & {
    display: inline-block;
    margin: 20px;
  }
}

.popup-header {
  width: 100%;
  padding: $popup-box-header-padding;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  position: relative;

  .popup-icon {
    display: inline-block;
    position: absolute;
    margin-right: 15px;
  }

  .popup-header-contents {
    margin-left: $hexagon-width + 15px;
  }

  .adblock-status-name {
    font-weight: bold;
    font-size: 14px;
  }

  .adblock-status-description {
    color: #999;
  }

  .options-link {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: #999;

    &:hover {
      color: #000;
    }
  }
}

.popup-body {
  padding: $popup-box-padding;
  color: #999;

  .popup-body-stat:not(.js-hide) + .popup-body-stat:before {
    content: " / ";
  }
}

.popup-info {
  padding: $popup-box-padding;

  ul {
    padding-left: 20px;
    margin: 0;
  }
}

.popup-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f0f0f0;
  line-height: $popup-controls-height - 2 * $popup-controls-padding;
  padding: $popup-controls-padding;

  label {
    font-weight: normal;
    margin: 0;
    display: block;
    color: #666;
  }

  .switchery {
    float: right;
  }
}
