.firstrun-page {
  .header {
    border-bottom: none;
    background: #fff;

    .header-inner {
      position: relative;
      z-index: 999;
    }

    .inner {
      width: 100%!important;
    }
  }

  .logo {
    margin-top: 50px;
    max-width: 250px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
  }

  .note {
    margin: 0;
    padding: 30px 5px 0;
  }
}

.sample-image {
  margin: 10px auto;
  text-align: center;
  display: block;
  position: relative;

  @media (max-width: 768px) {
    max-width: 50%;
    float: none !important;
  }
}

.post-install-information {
  padding : 30px;
  display: table;

  & > div {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
}

.sign-in {
  background: #fff;
  padding: 60px 0;

  .firstrun-page & {
    margin-top: 322px;
  }

  .options-page & {
    padding: 20px 0;
  }

  h3 {
    font-size: 24px;
    font-weight: 300;
    margin-top: 0;

    strong {
      font-weight: 400;
    }
  }

  h4 {
    font-weight: 300;
  }
}

.sign-in-controls {
  margin-top: 40px;
  text-align: center;

  .btn-default {
    background: 3px;
    border-bottom: 3px;
    border-radius: 0px;
    background: $primary;
    color: #fff;
    padding: 10px 20px;
    min-width: 140px;
    text-align: center;
    transition: all 0.3s;

    &:hover,
    &:active {
      background: #fff;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      transition: all 0.3s;
    }
  }

  .login-button {
    background: $red - #111;
    border-radius: 4px;
    margin: 20px 40px;
    font-family: $header-font;
    font-size: 11px;
    font-weight: normal;
    font-weight: 200;
    border-color: $red;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    line-height: 1.6;
    color: #f0f0f0;

    strong   {
      color: #fff;
      font-size: 17px;
      display: inline-block;
      font-weight: 400;
      clear: both;
      float: none;
      margin: 0px;
      position: relative;
    }

    span {
      opacity: 1;
    }

    &:hover, &:focus, &:active {
      background: $red;

      i {
        font-size: 70px;
        padding: 25px 0px 5px 0px;
        transition: all 0.3s;
      }

      span {
        transition: all 0.3s;
        opacity: 0;
      }
    }

    i {
      font-size: 30px;
      display: block;
      margin: auto;
      left: 0px;
      right: 0px;
      text-align: center;
      padding: 5px 0px 10px 0px;
      transition: all 0.3s;
    }
  }

  .login-button-gplus {
    background: $red;
    border-bottom-color: $red - #111;
    &:hover, &:focus, &:active {
      background: $red - #111;
    }
  }

  .login-button-facebook {
    background: #3b5998;
    border-color: #3b5998 - #111;
    &:hover, &:focus, &:active {
      background: #3b5998 -#111;
    }
  }
}

.full-image-section {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: block;
  position: relative;
  overflow: hidden;

  .inner {
    width: 980px;
    min-width: 980px;
    position: relative;
    float: none;
    margin: 0px auto;
    overflow: hidden;

    .block {
      position: relative;
      float: left;
      width: 380px;
      padding: 30px;
      margin: 80px 0;
      background: #fff;
      box-shadow: 2px 0px 5px #999;
      text-align: justify;

      h3 {
        margin-top: 0;
        margin-bottom: 20px;
        color: $primary;
        font-family: $header-font;
        font-size: 24px;
        padding: 0;
        font-weight: 300;
        line-height: 1.3;

        strong {
          font-weight: 400;
        }
      }

      p {
        font-family: $header-font;
        font-size: 17px;
        color: #555;
        font-weight: 300;
        line-height: 1.5;
      }
    }

    .right-block {
      float: right;
    }
  }

  &.full-image-section-1 {
    background-image: url(../../assets/images/sample-image-1.jpg);
  }
  &.full-image-section-2 {
    background-image: url(../../assets/images/sample-image-2.jpg);
  }

  &:before {
    content: "";
    width: 100%;
    height: 10px;
    top: -10px;
    box-shadow: 5px 5px 15px #666;
    display: block;
    position: absolute;
  }

  &.no-shaddow:before {
    content: "";
    box-shadow: none;
  }
}

.header-top {
  background: $red;
  color: #fff;
  position: fixed;
  top:0px;
  left: 0px;
  right: 0px;
  margin: auto auto;

  h1 {
    padding: 40px 0px 60px 0px;
    font-weight: 300;
  }
}

