.container {
  max-width: 980px;
}

.header {
  background: $gray-light;
  padding: 40px 15px;
  margin: 0px 0px 40px 0px;
  text-align: center;
  h1 {
    padding: 30px 10px 50px 10px;
  }
}

.content-container {
  font-size: 15px;
  color: #333;
  font-weight: 300;
}

.footer {
  background: #fff;
  color: #333;
  padding: 40px 0;

  a {
    color: #666;

    &:hover {
      text-decoration: none;
      color: $red;
    }
  }

  ul.nav-pills {
    margin-top: 20px;

    li {
      border-right: 1px solid #adadad;

      a {
        padding: 5px 10px 5px 0;
      }

      + li a {
        padding-left: 10px;
      }

      &:last-child {
        border-right: 0px;
      }
    }
  }

  .share-icon {
    padding: 10px;
    text-align: center;
  }
}
