@import "http://fonts.googleapis.com/css?family=Open+Sans:300,400,700&.css";
@import "../../assets/bower/font-awesome/css/font-awesome.css";
@import "../../assets/bower/flag-icon-css/css/flag-icon.css";

@import "bootstrap/_bootstrap";

.container {
  max-width: 980px;
}

// helper classes
.space-20 {
  margin-top: 20px;
}

.clr {
  clear: both;
}

.js-hide {
  display: none;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.green {
  color: $green;
}
.yellow {
  color: $yellow;
}
.red {
  color: $red;
}

.green-info {
  background: lighten($green, 35%);
}
.yellow-info {
  background: lighten($yellow, 25%);
}
.red-info {
  background: lighten($red, 35%);
}

.note {
  font-size: .9em;
  color: #666;
  margin-bottom: 60px;
  a {
    color: $primary;
  }
}

.single-question {
  margin-top: 10px;

  + .single-question {
    border-top: 1px solid #f0f0f0;
  }
}
.question-title {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-weight: 500;

  &:after {
    @include fa-icon;
    content: "\f0dd";
    position: absolute;
    right: 0;
    font-size: .8em;
  }
}

.btn-primary {
  background: $primary;
}

.dollar-logo {
  font-size: 0.8em;
}

// customize boostrap
label {
  font-weight: inherit;
}

.form-horizontal .control-label {
  text-align: left;
}

// layout
.header {
  background: $gray-light;
  padding: 40px 15px;
  margin: 0px 0px 40px 0px;
  text-align: center;
  h1 {
    padding: 30px 10px 50px 10px;
  }
}

.content-container {
  font-size: 15px;
  color: #333;
  font-weight: 300;
}

.footer {
  background: #fff;
  color: #333;
  padding: 40px 0;

  a {
    color: #666;

    &:hover {
      text-decoration: none;
      color: $red;
    }
  }

  ul.nav-pills {
    margin-top: 20px;

    li {
      border-right: 1px solid #adadad;

      a {
        padding: 5px 10px 5px 0;
      }

      + li a {
        padding-left: 10px;
      }

      &:last-child {
        border-right: 0px;
      }
    }
  }

  .share-icon {
    padding: 10px;
    text-align: center;
  }
}
