.js-hide {
  display: none !important;
}

.green {
  color: $green;
}
.yellow {
  color: $yellow;
}
.red {
  color: $red;
}

.green-info {
  background: lighten($green, 35%);
}
.yellow-info {
  background: lighten($yellow, 25%);
}
.red-info {
  background: lighten($red, 35%);
}

// Usage:
// <div class="note">
//   Note: If you are a publisher, login to the ABC Publisher Panel instead.
// </div>
.note {
  font-size: .9em;
  color: #666;
  margin-bottom: 60px;
  a {
    color: $primary;
  }
}

.btn-primary {
  background: $primary;
}

.dollar-logo {
  font-size: 0.8em;
}
