// CUSTOM VARIABLES

$red: #c0392b;
$green: #45C02B;
$yellow: #EDB916;
$blue: #304986;
$gray: #999;
$gray-light: #f0f0f0;

$primary: $blue;

$main-font: 'Open Sans', sans-serif;
$header-font: $main-font;

$section-heading-height: 55px;


// BOOTSTRAP VARIABLES

$brand-primary:         $blue;
$brand-success:         $green;
$brand-warning:         $yellow;
$brand-danger:          $red;

$font-family-sans-serif:  $main-font;
$headings-font-family:    $header-font;

@import "../../../shared/vendor/bower/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
